.card {
  width: 10rem;
  height: 15rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 1rem 26px;
}

.card span:nth-of-type(2) {
  color: var(--gray);
  font-size: 14px;
}

.card>img {
  transform: scale(0.6);
  margin-bottom: -2rem;
}

.c-button {
  background: #FFFFFF;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  color: #5290FD;
  margin-top: auto;
}

.c-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* cards */




@media screen and (max-width: 480px) {
  .card {
    width: auto;
    height: auto;
    min-height: 15rem;
  }
}